.message {
  color: #58bf52;
}
.quote {
  color: #ff791a;
}
.pen {
  color: #3741b5;
}
.filled-star {
  color: #f59914;
}
.unfilled {
  color: #bebebe;
}
.contact-btn{
  border: 1px solid #BEBEBE;
  border-radius: 25px;
}
/* NAVBAR  */
.navbar{
  background-color: #fff;
  height: 80px;
}
.service-btn{
  background-color: #fff;
}
.project-card-text {
  font-size: 14px;
}
/* .booking-img{
    background-image: url("/assests/booking.png");
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid purple;
} */
.booking-img > img {
  /* width: 100%; */
  /* min-width: 385px; */
  /* width: 100%; */
  height: 450px;
  /* background-size: contain; */
  /* background-position: center ; */
}
.ratings p {
  font-size: 12px;
  font-weight: 500;
}
.book-now {
  padding: 8px 10px;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 12px;
  color: #fff;
  background-color: #1f1f1f;
}
.read-more {
  padding: 8px 10px;
  border: 1px solid #bebebe;
  border-radius: 25px;
  font-size: 12px;
  color: #1f1f1f;
  background-color: #fff;
}
.row {
  /* border: 2px solid red; */
}
.col {
  /* border: 2px solid green; */
}
.footer , .home {
  /* background-image: url("/assests/Rectangle\ 17.png"); */
  background: rgb(251, 217, 185);
  background: radial-gradient(
    circle,
    rgba(251, 217, 185, 1) 8%,
    rgba(193, 222, 232, 1) 53%,
    rgba(231, 243, 243, 1) 84%,
    rgba(254, 254, 255, 1) 91%
  );
}
.footer input , .home input{
  padding: 10px 55px 10px 20px;
  border: none;
  border-radius: 25px;
}
.footer button , .home button {
  padding: 10px 15px 10px 15px;
  border-radius: 18px;
  border: none;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 14px;
}
.footer img {
  object-fit: contain;
}
@media only screen and (max-width:990px){
  .navbar{
      height: auto;
  }
  .navbar .nav-item{
      /* padding: 10px; */
      padding: 3px;
      text-align: center;
  }
}