.message{
    color: #58BF52;
}
.quote{
    color: #FF791A;
}
.pen{
    color: #3741B5;
}
.filled-star{
    color: #F59914;
}
.unfilled{
    color: #BEBEBE;
}
.project-card-text{
    font-size: 14px;
}